@charset "UTF-8";
/* line 5, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/style.scss */
body {
  font-family: "Open Sans", "Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", "微软雅黑", "Helvetica Neue", Arial, sans-serif;
}

/* line 11, ../sass/style.scss */
.card-container {
  cursor: pointer;
  position: relative;
  width: 200px;
  height: 150px;
  margin: 0 auto;
}
/* line 20, ../sass/style.scss */
.card-container img {
  width: 100%;
  height: 100%;
  border: 4px solid white;
}

/* line 27, ../sass/style.scss */
button {
  margin: 0 auto;
  display: block;
  border: 0;
  background: orange;
  border-radius: 4px;
  box-shadow: 0 5px 0 orangered;
  color: #ffffff;
  cursor: pointer;
  font: inherit;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}

/* line 42, ../sass/style.scss */
button:active {
  box-shadow: 0 2px 0 orangered;
  transform: translateY(3px);
}

@keyframes my {
  0% {
    border: 10px solid #000000;
  }
  20% {
    border: 8px solid #222222;
  }
  40% {
    border: 6px solid #444444;
  }
  60% {
    border: 4px solid #666666;
  }
  80% {
    border: 2px solid #888888;
  }
  100% {
    border: 0;
  }
}
/* line 74, ../sass/style.scss */
#fullpage {
  text-align: center;
}
/* line 77, ../sass/style.scss */
#fullpage h2 {
  font-size: 4em;
  font-weight: bold;
  -moz-animation: my 4s 1s 3 linear;
  -webkit-animation: my 4s 1s 3 linear;
  animation: my 4s 1s 3 linear;
}
/* line 82, ../sass/style.scss */
#fullpage h2 .highlight {
  color: orange;
}
